.container {
  width: 300px;
  display: grid;
  grid-template-areas: "item button";
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
}

.checked {
  text-decoration: line-through;
}

ul {
  display: flex;
  list-style: none;
  width: 300px;
}

li {
  font-size: 1.5em;
  margin-right: 8px;
}
